
/*---- TABS ---- */

ul.tabs {
	margin: 0;
	padding: 0;
	/*float: left;*/
	list-style: none;
	/*height: 32px;*/
/*	border-bottom: 1px solid #999; */	
	border-left: 1px solid #999;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}

ul.tabs li a.roomname {
	text-decoration: none;
	color: #000;
	font-size: 1.2em;
	padding:0;
	padding-left:20px;
	outline: none;
}

ul.tabs li a.roomedit {
	text-decoration: none;
	color: #000;
	font-size: 0.8em;
	padding:0;
	padding-right:20px;
	outline: none;
}

ul.tabs li a:hover	{
	text-decoration:underline;
}

ul.tabs li:hover {
	background: #ccc;
}

#tab1 a	{
	padding-right:20px;
}

#add_room_tab a	{
	padding-left:24px;
	background-image:url(add_room_plus.png);
	background-repeat:no-repeat;
	padding-left:20px;
	padding-right:20px;
	padding-top:6px;
	padding-bottom:6px;
}

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
}

.delete_room_button	{
	border:none;
	width:13px;
	height:13px;
	background-image:url(add_room_delete.gif);
	background-repeat:no-repeat;
	position:absolute;
	cursor:pointer;
	right:2px;
}

.rename_room_button	{
	border:none;
	width:13px;
	height:13px;
	background-image:url(add_room_rename.gif);
	background-repeat:no-repeat;
	position:absolute;
	cursor:pointer;
	right:2px;
	bottom:2px;
}


/* ---- TAB CONTENT ---- */

.tab_container {
	border: 1px solid #999;
	/*border-top: none;*/
	overflow: hidden;
	clear: both;
	float: left;
	width: 842px;
	background: #fff;
	padding: 20px;
  padding-right: 0px;
	min-height:400px;
}

#tabloading  {
	background-image:url(ajax-loader.gif);
	background-repeat:no-repeat;
	background-position:center;
	min-height:200px;
	
}

/* ---- ROOMS LIST ---- */
.ar_upload_wrapper	{
	float:left;
	height:250px;
}

.ar_upload_wrapper p	{
	padding:0;
	margin:0;
	line-height:1.4em;
	margin-top:2px;
	margin-bottom:2px;
}

.ar_imgbox	{
	width:234px;
	height:161px;
	border: 1px solid #aaa;
	background-color:#505050;
}
