.loading {
  position: relative;
  pointer-events: none;
  min-height: 5.3rem;
  z-index: 99990;
  overflow: hidden !important;
}

.loading .loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation: loadingStart 100ms 300ms linear 1 both;
  -moz-animation: loadingStart 100ms 300ms linear 1 both;
  -o-animation: loadingStart 100ms 300ms linear 1 both;
  animation: loadingStart 100ms 300ms linear 1 both;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;

  z-index: 99990;
}
.loading .loading-text {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
