@font-face {
  font-family: "loadingOverlay";
  src: url('fonts/icons.woff') format("woff"), url('fonts/icons.ttf') format("truetype");
}

/* Loading-overlay styles */
@keyframes loadingStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: relative;
  pointer-events: none;
  min-height: 7.3rem;
  z-index: 99990;
  overflow: hidden !important;
}
.loading .loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: loadingStart 100ms 300ms linear 1 both;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  z-index: 99990;
}
.loading .loading-text {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
  position: relative;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.modal {
  z-index: 100001;
}
.modal .panel-loading .loading,
.modal .panel-loading .loading .loading-overlay {
  z-index: 999999;
}
.loading .loading-text:after {
  content: "...";
}
.loading .loading-spinner {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -3rem auto 0.2rem;
  color: #1a1d1d;
  opacity: 0.8;
  text-align: center;
}
.loading .loading-icon {
  font-size: 3.3125rem;
  line-height: 4.25rem;
  text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
  animation: loading 1s steps(4) infinite;
  display: block;
  vertical-align: middle;
}
.loading .loading-icon:before {
  vertical-align: middle;
  content: "\e000";
  font-family: "loadingOverlay";
}

.hidden {
  display: none;
}
